---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Evelyn R">

  <header>
    <h1>Evelyn R.</h1>
    <p>Software Engineer</p>
  </header>

  <section id="hero">
    <h2>
      I build <span>software</span> and explore <span>AI tools</span>
    </h2>
    <p>Systems engineer focused on creating useful and simple solutions.</p>
  </section>

  <section id="about">
    <h2>About Me</h2>
    <p>
      Systems engineer based in Colombia. I have experience with JavaScript,
      Python, and modern web technologies. I'm interested in AI, building
      digital products, and solving real-world problems.
    </p>
  </section>

  <section id="projects">
    <h2>Projects</h2>

    <div class="projects">

      <article class="card">
        <h3>WordPress Website Development and Automation</h3>
        <p>
        Built and maintained WordPress ~70 websites for small businesses using custom HTML, CSS, and JavaScript. 
        Implemented automation for form handling and content workflows to reduce manual tasks and improve efficiency.
        </p>
        <a href="javascript:void(0);">View Details →</a>
      </article>

      <article class="card">
        <h3>Frontend Web Application (React)</h3>
        <p>
        Developed a responsive frontend application using React, focusing on clean component structure and usability. 
        Implemented modern UI practices to create a simple and maintainable interface.
        </p>
        <a href="javascript:void(0);">View Details →</a>
      </article>

      <article class="card">
        <h3>AI Evaluation and Testing Workflows</h3>
        <p>
        Worked on evaluating AI-generated outputs across coding and multimodal tasks, identifying patterns and improving response quality through structured feedback and analysis.
        </p>
        <a href="javascript:void(0);">View Details →</a>
      </article>

      <article class="card">
        <h3>Personal Portfolio Website</h3>
        <p>
          Designed and developed a personal portfolio using Astro, focusing on clean UI, responsive design, and performance. Deployed using Vercel with custom domain configuration.
        </p>
        <a href="javascript:void(0);">View Details →</a>
      </article>

    </div>
  </section>

  <section id="contact">
    <h2>Contact</h2>
    <p>Email: evelynrodriguezc0@gmail.com</p>
    <p>GitHub: <a href="https://github.com/evelynrodriguezc">evelynrodriguezc</a></p>
  </section>

</MainLayout>